.containerMainProductCard{
    transition-duration: 4s;
    transition-delay: 2s;

    @apply
    px-[24px]
    py-6
    rounded-2xl
    w-full
    bg-[#FFFCF5]
    hover:shadow-sm
    
}

.titleCard{
    @apply
    flex
    flex-row
    justify-between
    items-center
}


/* ---------------css-accordeon--------------- */

.qu-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    @apply
    w-full
}

.qu-text-color{
    @apply
    text-[#525862]
}

.icon_qu-card{
    /* background: url('./img/Union.svg'); */

    @apply
    w-[13px]
    h-[13px]

}

.body_qu-card{
    @apply
    border-t
    mt-4
    pt-4
}

/* ---------------css-accordeon--------------- */