
.menu-container{
    @apply
    py-4
    flex
    justify-center
    fixed top-0 left-0 right-0
    z-0
}

.menu-container-content{
    @apply
    w-[1330px]
    mx-4
    flex
    flex-row
    laptop:justify-between
    desktop:justify-between
    justify-center
}

.items-container{
    @apply
    flex
    flex-row
    gap-8
}

.text-style-items{
    @apply
    text-gray-700
    hover:text-gray-900
    cursor-default
    /* hidden */
    /* tablet:hidden */
    laptop:block
    desktop:block
}

.logo-container{
    background:url('img/DEREVYANSKAYA.svg') no-repeat -1px;

    @apply
    w-[215px]
    h-[23px]
}

.menu-gradient{
    @apply
    w-[100%]
    h-[200px]
    top-0
    absolute
    -z-50
    bg-gradient-to-b from-[#F7F5EF]
}

.burger{
    background: url('img/burger.svg') no-repeat 50% 50%;

    @apply
    w-[24px]
    h-[24px]
}

.cross{
    background: url('img/cross.svg') no-repeat 50% 50%;

    @apply
    w-[24px]
    h-[24px]
}

.interactive-item{
    visibility:hidden;
}


.items-content{
    @apply
    hidden
    tablet:hidden
    laptop:flex
    desktop:flex
}

.blurBox{
    background: rgba(196, 196, 196, 0.5);
    backdrop-filter: blur(10px);

    @apply
    z-50
    w-[100vw]
    h-[100vh]
    /* absolute */
    fixed
}

.container-mobile_menu{
    @apply
    /* w-[100%] */
    w-[100vw]
    z-50
    fixed
    flex
    desktop:hidden
    laptop:hidden
    tablet:flex
    justify-center
    bottom-0
}

.box_mobile_menu{
    @apply
    w-[100vw]
    p-[32px]
}

.mobile_items-content{
    @apply
    text-right
    bg-[#F5F3ED]
    rounded-[24px]
    p-[24px]
    gap-[8px]

}


.footer_mobile_menu{
    @apply
    flex
    flex-row
    justify-end
    gap-[24px]
    mt-[24px]
    w-[100%]
}

.shadow{
    @apply
    drop-shadow-me-shadow
    bg-[#F5F3ED]
}

.button{
    @apply
    h-[0%]
    w-[100%]
    tablet:w-[45%]
    /* desktop:px-[48px]
    laptop:px-[48px]
    tablet:px-[48px] */
    bg-[#F5F3ED]
    rounded-[24px]
    py-[13px]
    /* px-[24vw] */
    text-[16px]
    uppercase
    font-medium
    text-gray-700
    hover:text-gray-900
    text-center
}

.mobile_menu{
    animation: pulse 1s ;

    @apply
    p-[25px]
    rounded-[99px]
}

@keyframes pulse {
    0% {
    @apply
    -mb-48
    opacity-0
    }
    100% {
    @apply
    mb-0
    opacity-100
    }
  }


.menu_visible{
    @apply
    flex
    flex-col
    desktop:hidden
    laptop:hidden
    tablet:flex
}

.menu_hidden{
    @apply
    hidden
    desktop:hidden
    laptop:hidden
    tablet:hidden
}

