
.menu-container{
    @apply
    py-4
    flex
    justify-center
    fixed top-0 left-0 right-0
    z-50
}

.menu-container-content{
    @apply
    w-[1330px]
    mx-4
    flex
    flex-row
    laptop:justify-between
    desktop:justify-between
    justify-center
}

.items-container{
    @apply
    flex
    flex-row
    gap-8
}

.text-style-items{
    @apply
    text-gray-700
    hover:text-gray-900
    cursor-default
    hidden
    tablet:hidden
    laptop:block
    desktop:block
}

.logo-container{
    background:url('img/DEREVYANSKAYA.svg') no-repeat -1px;

    @apply
    w-[215px]
    h-[23px]
}

.menu-gradient{
    @apply
    w-[100%]
    h-[200px]
    top-0
    absolute
    -z-50
    bg-gradient-to-b from-[#F7F5EF]
}

.burger{
    background: url('img/burder.svg') no-repeat 0px 50%;

    @apply
    w-[24px]
    h-[24px]
    hidden
    tablet:hidden
    laptop:block
    desktop:block
}

.cross{
    background: url('img/cross.svg') no-repeat 0px 50%;

    @apply
    w-[24px]
    h-[24px]
    hidden
    tablet:hidden
    laptop:block
    desktop:block
}

.interactive-item{
    visibility:hidden;
}


.items-content{
    @apply
    hidden
    tablet:hidden
    laptop:flex
    desktop:flex
}