.testBlock{
    @apply
    border-2
    border-blue-800
    w-auto
    h-[1500px]
    flex
    justify-center
    items-center
}

.main{
    @apply
    border
    border-red-500
    w-[500px]
    h-[500px]
    flex
    justify-center
    items-start
}

.content-aBout{
    @apply
    mt-[24px]
    flex
    flex-col
    desktop:flex-row
    laptop:flex-row
    tablet:flex-col
    gap-[48px]
    w-full
}

.SocialNetwork{
    @apply
    my-[32px]
    /* desktop:my-[0px]
    laptop:my-[0px]
    tablet:my-[32px] */
}

.icon_social{
    @apply
    flex
    flex-row
    gap-[16px]
    my-[8px]
}

.bgDarkColor{
    @apply
    bg-[#F5F3ED]
    w-full
}

.eduaction-block{
    @apply
    grid 
    grid-cols-3
    w-full
    gap-[48px]
}

.bg-img-edu{
    @apply
    bg-slate-500
}

.cont-edu{
    @apply
    bg-red-500
    col-span-2
}