.contaoner-callback{
    @apply
    flex
    flex-col
    desktop:flex-row
    laptop:flex-row
    tablet:flex-col
    gap-6
    justify-center
}

.Side{
    @apply
    flex
    gap-3
}

.left{
    @apply
    flex
    justify-between
}

.right{

}

.center{
    @apply
    border-l-[1px]
    border-[#D7D8D9]
}

.btn{
    @apply
    opacity-100
    hover:opacity-80
}



/* ----------callBack_large---------- */

.centerLarge{
    @apply
    w-[100%]
    h-auto
    border-l-[1px]
    border-[#D7D8D9]

    desktop:w-auto
    desktop:h-[43px]
    laptop:w-auto
    laptop:h-[43px]
    tablet:w-[100%]
    tablet:h-auto

    desktop:border-l-[1px]
    desktop:border-b-[0px]
    laptop:border-l-[1px]
    laptop:border-b-[0px]
    tablet:border-l-[0px]
    tablet:border-b-[1px]
}


.size{
    @apply
    w-auto
    h-[43px]
}

.content-callBack{
    @apply
    flex
    flex-col
    text-center
    desktop:text-left
    laptop:text-left
    tablet:text-center
    gap-[13px]
}

.item-end{
    @apply
    items-center
    desktop:items-end
    laptop:items-end
    tablet:items-center
}

/* ----------callBack_large---------- */
