.container-callback{
    @apply
    flex
    flex-col
    desktop:flex-row
    laptop:flex-row
    tablet:flex-row
    gap-6
    /* justify-end */
    w-[186px]
    desktop:w-[427px]
    laptop:w-[427px]
    tablet:w-auto
    desktop:gap-6
    laptop:gap-6
    tablet:gap-6
}

.Side{
    @apply
    flex
    gap-3
}

.left{
    @apply
    flex
    justify-between
}

/* .right{

} */

.center{
    @apply
    border-l-[1px]
    border-[#D7D8D9]
}

.btn{
    @apply
    opacity-100
    hover:opacity-80
}



/* ----------callBack_large---------- */

.numPhone{
    @apply
    font-semibold
    text-xl
    text-[#525862]
}

.block-phone{
    @apply
    my-6
    flex
    flex-col
    justify-start
    gap-4
    w-auto


    w-[186px]
    desktop:w-[427px]
    laptop:w-[427px]
    tablet:w-[410px]


}

.content-center{
    @apply
    flex
    justify-center
}

.content-main{
    @apply
    flex
    flex-col

}

.centerLarge{
    @apply
    w-[90%]
    h-auto
    border-b-[1px]
    border-[#D7D8D9]


    desktop:w-auto
    desktop:h-[43px]
    laptop:w-auto
    laptop:h-[43px]
    tablet:w-auto
    tablet:h-[43px]

    desktop:border-l-[1px]
    desktop:border-b-[0px]
    laptop:border-l-[1px]
    laptop:border-b-[0px]
    tablet:border-l-[1px]
    tablet:border-b-[0px]
}


.size{
    @apply
    w-auto
    h-[43px]
}

.content-callBack{
    @apply
    flex
    flex-col
    text-center
    desktop:text-left
    laptop:text-left
    tablet:text-center
    gap-[13px]
}

.item-end{
    @apply
    items-center
    justify-start
    desktop:items-end
    laptop:items-end
    tablet:items-end
}

/* ----------callBack_large---------- */
