@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    border:1px solid black !important; 
} */

body{
    @apply 
    bg-[#F7F5EF]

}

p{
    @apply
    text-gray-700
    subpixel-antialiased
}

h1{
    @apply
    text-gray-700
    text-2xl
    subpixel-antialiased
    font-semibold
    tracking-wide
    desktop:text-3xl
    laptop:text-3xl
    tablet:text-2xl

}

h2{
    @apply
    text-gray-700
    text-2xl
    subpixel-antialiased
    font-semibold
    tracking-wide
    desktop:text-2xl
    laptop:text-2xl
    tablet:text-2xl

}

h3{
    @apply
    text-gray-700
    text-lg
    subpixel-antialiased
    font-semibold
    tracking-wide
}

.Link{
    @apply
    text-[#A4A7A8]
    subpixel-antialiased
    underline
}

.appointment{
    @apply
    text-gray-700
    subpixel-antialiased
    underline
    font-medium
}