@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    border:1px solid black !important; 
} */

body{
    @apply 
    bg-[#F7F5EF]

}

p{
    @apply
    text-gray-700
    subpixel-antialiased
}

h1{
    @apply
    text-gray-700
    text-2xl
    subpixel-antialiased
    font-semibold
    tracking-wide
    desktop:text-3xl
    laptop:text-3xl
    tablet:text-2xl

}

h2{
    @apply
    text-gray-700
    text-2xl
    subpixel-antialiased
    font-semibold
    tracking-wide
    desktop:text-2xl
    laptop:text-2xl
    tablet:text-2xl

}

h3{
    @apply
    text-gray-700
    text-lg
    subpixel-antialiased
    font-semibold
    tracking-wide
}

.Link{
    @apply
    text-[#A4A7A8]
    subpixel-antialiased
    underline
}

.appointment{
    @apply
    text-gray-700
    subpixel-antialiased
    underline
    font-medium
}

.block{
    @apply
    
    laptop:items-center
    items-center

    w-full
    max-w-[1330px]
    min-h-[80vh]
    tablet:min-h-[100vh]

    flex
    flex-row

    border
    border-red-700

}

.block-top{
    @apply
    
    laptop:items-start
    items-start
    py-[32px]
    w-full
    max-w-[1330px]
    min-h-[50vh]
    tablet:min-h-[50vh]

    flex
    flex-row

    border
    border-red-700

}
