.newsBlock{
    @apply
    w-full
    laptop:h-[1320px]
    h-[424px]
    gap-[16px]
    laptop:gap-6
    grid
    laptop:grid-cols-3
    laptop:grid-rows-3
    /* grid-cols-7 */
    grid-rows-1
    grid-flow-col
    overflow-x-auto
}

.cardNews{
    @apply
    bg-slate-400
    rounded-[16px]
    w-[75vw]
    laptop:w-auto
    bg-center
    grid
    grid-rows-2
    overflow-hidden
}

.cardNewsContent{
    @apply
    row-start-2
    px-[40px]
    pb-[32px]
    flex
    flex-col
    justify-between    

}

.cardNewsContentHead{
    @apply
    flex
    flex-col
    gap-[8px]

}

.p-Three-Line{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    @apply
    text-[#F7F5EF]
}

.h2-Two-Line{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    @apply
    text-[#F7F5EF]

}

.block-2-3{
    @apply
    laptop:col-span-2
}

.block-1-3{
    @apply
    laptop:col-span-1
}

.blockAfterNews{
    @apply
    mt-[48px]
    w-full
    flex
    flex-col
    gap-[24px]
    items-center
}

.contentAfterNews{
    @apply
    w-full
    flex
    flex-col
    gap-[48px]
}

.newsItem{
    @apply
    w-full
    flex
    flex-col
    gap-[24px]
}

.seporator{
    @apply
    border-b
    border-[#D6D6D3]
    w-full
}

.newsTitle{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


.litleText{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

@media (max-width:450px) {

    .newsTitle{
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }


    .litleText{
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
    }

    
}


.BtnShowMore{
  @apply
  border-2
  text-[#525862]
  text-lg
  border-[#525862]
  cursor-default
  w-auto
  rounded-full
  py-[8px]
  px-[32px]  
  flex
  justify-center
}