
.box_btn{
    @apply
    /* border
    border-red-700 */
    w-auto
    flex
    justify-center
    desktop:justify-start
    laptop:justify-start
    tablet:justify-start
    /* h-[150px] */
}

.two_block{
    @apply
    flex
    justify-center
    bg-slate-300
}

.test_content{
    @apply
    border-2
    border-orange-600
    w-[1330px]
    h-[2000px]
}

.main_banners_container{
    background: url('./img/img_main_banner.jpg') -130px 0px ;
    background-size: 250%;

    @apply
    border
    border-orange-700
    
    min-h-[50vh]
    bg-no-repeat 
    flex
    justify-center
}

.text_container{
    @apply
    row-start-1
    row-end-3
    px-[0px]
    mb-[32px]
}

.banners_box{
    @apply
    h-auto
    w-[1330px]
    grid
    grid-rows-2

    border
    border-cyan-400

}

.text_container{
    @apply
    border
    border-lime-600
    col-start-2
    row-start-2
    row-end-3
    grid
    content-center
    gap-[24px]
    px-[16px]
}

@screen tablet {

    .main_banners_container{

        @apply
        bg-no-repeat
        bg-cover
        bg-center
        min-h-[60vh]

    }

    .banners_box{
        @apply
        grid-cols-2
        pr-[24px]
    }

    .text_container{
        @apply
        row-start-1
        row-end-3
        px-[0px]
        mb-[32px]
    }

}

@screen laptop {

    .main_banners_container{
        @apply
        bg-cover
        bg-top
        min-h-[100vh]
    }

    .banners_box{
        @apply
        grid-cols-2
        pr-[24px]
    }

    .text_container{
        @apply
        row-start-1
        row-end-3
        px-[0px]
        mb-[32px]
    }

}

@screen desktop {

    .main_banners_container{
        @apply
        bg-auto
        bg-top
        min-h-[80vh] 
    }

    .banners_box{
        @apply
        grid-cols-2
        pr-[0px]
    }

    .text_container{
        @apply
        row-start-1
        row-end-3
        px-[0px]
        mb-[32px]
    }

}
