.main-container{  
    @apply
    /* h-[100vh] */
    min-h-[100vh]
    grid
    grid-rows-2
    laptop:grid-cols-2
    mb-[32px]
    laptop:mb-[0px]
}


.side{
    /* @apply */
    
}

.text-container{
    @apply
    grid
    gap-[8px]
    max-w-full
    desktop:max-w-[650px]

}

.Left{
    background: url('./img/img_mainV2_banner.jpg');
    /* background: url('./img/img_main_banner.jpg') -130px 0px ; */
    /* background-size: 250%; */

    @apply
    bg-[#F7F5EF]
    flex
    items-end
    laptop:justify-end
    bg-no-repeat
    bg-cover
    bg-center

    col-span-3
    laptop:row-span-3
    laptop:col-span-1
}

.Right{
    @apply
    bg-[#F7F5EF]
    col-span-3
    laptop:row-span-3
    laptop:col-span-1
    gap-[40px]
    grid
    content-center
    p-[16px]
    /* mx-[40px] */
    laptop:mx-[40px]
    tablet:mx-[0px]

}

.Grad{
    @apply
    h-[25%]
    w-[100%]
    laptop:w-[25%]
    laptop:h-[100%]
    bg-gradient-to-t from-[#F7F5EF]
    laptop:bg-gradient-to-l from-[#F7F5EF]
    
}

.container-general{
    @apply
    border
    border-red-600

    flex
    flex-col
    items-center
}

.two-block{
    @apply
    w-full
    max-w-[1330px]
    h-[400px]
    flex
    flex-row
    gap-10
    border
    border-gray-500
}

.two-block_left{
    @apply
    w-1/3
    bg-slate-300
}

.two-block_right{
    @apply
    w-2/3
    bg-slate-400
}

