
.card{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    transition-duration: 0.5s;
}

.card:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition-duration: 0.5s;
}

.card{
    @apply
    bg-[#F5F3EE]
    rounded-[16px]
    min-h-[300px]
    tablet:min-w-[300px]
    min-w-[80vw]
    /* w-[300px] */
    p-[32px]
    gap-4
    flex
    flex-col
    justify-between
}
